@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto auto;
}

.game1 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.start {
	position: absolute;
	cursor: pointer;
}
.play {
	position: absolute;
	color: rgb(225, 0, 255);
	right: 8px;
	top: 2px;
	cursor: pointer;
}

.play:hover,
#abc:hover,
svg:active,
#abc:active {
	fill: #caee46;
}
.stop {
	position: absolute;
	right: 40px;
	cursor: pointer;
}
.message {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	animation: show 3.5s;
	opacity: 0;
	top: 10%;
	pointer-events: none;
	color: rgb(255, 0, 140);
	display: none;
	letter-spacing: 1px;
	font-size: x-large;
}
.score {
	position: absolute;
	left: 10px;
	font-size: larger;
}

.start,
.stop {
	color: rgb(77, 77, 77);
	font-size: larger;
}

.start:hover,
.stop:hover {
	color: rgb(51, 33, 212);
}
@keyframes show {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-weight: bold;
}
.scoreDisplay {
	color: black;
	text-align: center;
	font-size: larger;
}
.gameover {
	font-size: x-large;
	color: rgb(105, 71, 160);
	/* 	text-shadow: 0 0 3px black; */
}
.slides-center {
	position: relative;
	height: 350px;
	overflow: hidden;

	z-index: 1;
	margin-top: 15px;

	width: 600px;
	border: 1px solid rgb(119, 119, 119);
	padding: 0 50px;
	color: rgb(153, 153, 153);
	font-family: "Ubuntu", sans-serif;
	background: url(./assets/Hills\ Layer\ 05.png) right bottom no-repeat,
		url(./assets/Hills\ Layer\ 04.png) right bottom no-repeat,
		url(./assets/Hills\ Layer\ 03.png) right bottom no-repeat,
		url(./assets/Hills\ Layer\ 02.png) right bottom no-repeat,
		url(./assets/Hills\ Layer\ 01.png) left bottom no-repeat;
	background-size: cover;
}
#bird {
	width: 25px;
	/* background-color: rebeccapurple; */
	background: url(./assets/bird.gif);
	background-position: center;
	background-size: cover;
	height: 20px;
	position: absolute;
	top: 50px;
	left: 100%;
}
#bird2 {
	width: 25px;
	/* background-color: rebeccapurple; */
	background: url(./assets/output-onlinegiftools.gif);
	background-position: center;
	background-size: cover;
	height: 20px;
	position: absolute;
	top: 100px;
	left: 100%;
}
#char {
	/* 	width: 20px; */
	width: 40px;
	/* background-color: rebeccapurple; */

	background-position: center;
	background-size: cover;
	height: 50px;
	position: relative;
	top: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0 2px white;
}

.jump {
	animation: jump 0.5s linear forwards;
}

#block {
	width: 23px;

	height: 24px;
	position: relative;
	top: 275px;
	left: calc(100%);
	background-image: url(./assets/bomb.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.run {
	animation: run 2s infinite linear forwards;
	overflow: hidden;
}
.fly {
	animation: run 9s 0.2s infinite linear forwards;
	overflow: hidden;
}
.fly2 {
	animation: run 12s infinite linear forwards;
	overflow: hidden;
}
.idle {
	background-image: url(./assets/hero.png);
	/*
	background-image: url(./assets/guy.png); */
}

.motion {
	background-image: url(./assets/hero-run.gif);
	/* 	background-image: url(./assets/guy.png);
 */
}
@keyframes run {
	from {
		left: calc(100%);
	}
	to {
		left: -40px;
	}
}

@keyframes jump {
	0% {
		top: 300px;
	}
	10% {
		top: 260px;
	}
	70% {
		top: 260px;
	}
	100% {
		top: 300px;
	}
	/* 	0% {
		top: 350px;
	}
	10% {
		top: 300px;
	}
	70% {
		top: 300px;
	}
	100% {
		top: 350px;
	} */
}

/* .slides-center img {
	position: absolute;
	width: inherit;
	height: inherit;
	overflow: hidden;
	left: 0px;
	z-index: 0;
} */
.wrapper {
	width: 700px;
	height: 515px;
	position: relative;
	/* 	background-color: white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.credits {
	margin-top: 5px;
	position: relative;
	width: 600px;
	font-size: small;
	display: flex;
	color: white;
	height: max-content;
	justify-content: start;
}
.credits:hover .names {
	/* animation: out 1s  linear; */
	opacity: 1;
	transition: 2s;
}

.credits p {
	width: 100%;

	position: relative;
}
.credit {
	font-weight: bold;
}
.names {
	padding-left: 30px;
	width: 100%;
	word-break: break-all;
	opacity: 0;
}
.options {
	width: 100%;
	top: 0;
	position: absolute;
	display: flex;
	justify-content: space-around;
}

.opt {
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
}
.active {
	text-decoration: underline;
}

.fade-out {
	/* 	transform: translateX(100%);
 */
	display: none;
	transition: 1s ease-in;
}

.fade-in {
	display: block;

	transition: 1s ease-in;
}

h1 {
	font-size: 5rem;
	font-weight: 700;
	padding: 10px;
	height: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer p {
	text-align: center;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 1px;
	padding-bottom: 10px;
}
